
.app{
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}
.drum-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 65%;
  margin: 0 auto;
}
.drum-pad{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}